beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
gunicorn==20.0.4
idna==2.9
joblib==0.14.1
numpy==1.18.2
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
soupsieve==2.0
urllib3==1.26.5
virtualenv==16.7.9
